<head>
<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
<head>

<% content_for :title, "Editing trip" %>

<h1>Editing trip</h1>

<%= render "form", trip: @trip %>

<br>

<div>
  <h2>Participants</h2>

  <ul>
    <% @trip.participants.each do |participant| %>
      <li>
        <%= participant.name %>
        
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a participant", new_trip_participant_path(@trip), class: "btn btn-primary" %>
  <%= link_to "Remove a participant", trip_participants_path(@trip), method: :delete, class: "btn btn-danger" %>
  
</div>
  <%= link_to "Back to trip details", @trip, class: "btn btn-primary" %>
