
<head>
<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
<head>

<% content_for :title, "Editing trip" %>
<%= link_to "Back to trip details", @trip, class: "btn btn-primary" %>

<h1>Editing Trip</h1>

<!-- This is a form for editing an existing trip -->
<%= render "form", trip: @trip %>

<!-- This is a section for displaying the trip's participants -->
<!-- It includes a list of participants and buttons to add or remove participants -->
<div>
  <h2>Participants</h2>

  <ul>
    <% @trip.participants.each do |participant| %>
      <li>
        <%= participant.name %>
        
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a participant", new_trip_participant_path(@trip), class: "btn btn-primary" %>
  <%= link_to "Remove a participant", trip_participants_path(@trip), method: :delete, class: "btn btn-danger" %>
  
</div>
