<p style="color: green"><%= notice %></p>

<h1>Trip Details</h1>

<%= render @trip %>

<div>
  <h2>Participants</h2>
  <ul>
    <% @trip.participants.each do |participant| %>
      <li>
        <%= participant.name %> | 
        <%= link_to "View Summary", trip_participant_path(@trip, participant) %> |
        <%= link_to "View Expenses", trip_participant_expenses_path(@trip, participant) %>
      </li> 
    <% end %>
  </ul>

  <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
  <%= link_to "Back to trips", trips_path %>

  <%= button_to "Delete this trip", @trip, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>