
<p style="color: green"><%= notice %></p>

<h1>Trip Details</h1>

<div>
  <%= render partial: "trips/trip", locals: { trip: @trip } %>
</div>

<div>
  <h2>Participants</h2>
  <ul>
    <% @trip.participants.each do |participant| %>
      <li>
        <%= participant.name %>
        <%= link_to "View Summary", trip_participant_path(@trip, participant), class: "btn btn-secondary" %>
        <%= link_to "View Expenses", trip_participant_expenses_path(@trip, participant), class: "btn btn-secondary" %>
      </li> 
    <% end %>
  </ul>
  </div>

  <div>
  <h2>Settle Up!</h2>

  <table>
    <thead>
      <tr>
        <th></th> <%# Empty header for participant names %>
        <% @trip.participants.each do |participant| %>
          <th><%= participant.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @trip.participants.each do |payer| %>
        <tr>
          <th><%= payer.name %></th>
          <% @trip.participants.each do |receiver| %>
            <% if payer == receiver %>
              <td>-</td> <%# Don't show balance for same participant %>
            <% else %>
              <% balance = payer.net_balance(receiver) %>
              <td>
                <% if balance > 0 %>
                  <%= payer.name %> owes <%= receiver.name %>: $<%= '%.2f' % balance %>
                <% elsif balance < 0 %>
                  <%# Only show message in the payer's column %>
                  <% if payer == receiver %>
                    <%= receiver.name %> owes <%= payer.name %>: $<%= '%.2f' % balance.abs %>
                  <% else %>
                    - <%# Add "-" when the payer is not the receiver, and balance is negative %>
                  <% end %>
                <% else %>
                  - <%# No balance %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>


  <%= link_to "Edit this trip", edit_trip_path(@trip), class: "btn btn-primary" %>
  <%= link_to "Back to trips", trips_path, class: "btn btn-primary" %>
  <hr>
  <%= button_to "Delete this trip", trip_path(@trip), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

