<p style="color: green"><%= notice %></p>

<h1>Trip Details</h1>

<div>
  <%= render @trip %>
</div>

<div>
  <% if @trip.currency.present? %>
    <h2>Total Expenses in <%= currency_symbol(@trip.currency) %>:</h2>
    <p>
      <strong>
        <%= number_to_currency(@trip.expenses.sum { |e| convert_to_trip_currency(e) }, unit: 
currency_symbol(@trip.currency)) %>
      </strong>
    </p>
  <% else %>
    <p style="color: red;">Trip currency not set.</p>
  <% end %>
</div>

<div>
  <h2>Participants</h2>
  <ul>
    <% @trip.participants.each do |participant| %>
      <li>
        <%= participant.name %>
        <%= link_to "View summary", trip_participant_path(@trip, participant), class: "btn btn-secondary" %>
        <%= link_to "View expenses", trip_participant_expenses_path(@trip, participant), class: "btn btn-secondary" 
%>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <% if @trip.currency.present? %>
    <h2>Settle Up!</h2>

    <p>Here are the amounts each participant owes to each other</p>
    <p>Rows represent the payer, and columns represent the receiver</p>
    <table>
      <thead>
        <tr>
          <th></th>
          <% @trip.participants.each do |participant| %>
            <th><%= participant.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @trip.participants.each do |payer| %>
          <tr>
            <th><%= payer.name %></th>
            <% @trip.participants.each do |receiver| %>
              <% if payer == receiver %>
                <td>-</td>
              <% else %>
                <% balance = payer.net_balance(receiver) %>
                <td>
                  <% if balance > 0 %>
                    <%= payer.name %> owes <%= receiver.name %>: 
                    <%= number_to_currency(balance, unit: currency_symbol(@trip.currency)) %>
                  <% elsif balance < 0 %>
                    <% if payer == receiver %>
                      <%= receiver.name %> owes <%= payer.name %>: 
                      <%= number_to_currency(balance.abs, unit: currency_symbol(@trip.currency)) %>
                    <% else %>
                      -
                    <% end %>
                  <% else %>
                    -
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p style="color: red;">Trip currency not set. Cannot show settle-up amounts.</p>
  <% end %>
</div>

<%= link_to "Edit this trip", edit_trip_path(@trip), class: "btn btn-primary" %>
<%= link_to "Back to trips", trips_path, class: "btn btn-primary" %>
<hr>
<%= button_to "Delete this trip", trip_path(@trip), method: :delete, data: { confirm: "Are you sure?" }, class: 
"btn btn-danger" %>