<head>
<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
<head>

<div id="<%= dom_id participant %>">
  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <%= link_to "View Expenses", trip_participant_expenses_path(@trip, participant) %> |
    <%= link_to "Add Expense", new_trip_participant_expense_path(@trip, participant) %>
  </p>

  <p>
    <strong>Trip:</strong>
    <%= participant.trip_id %>
  </p>

</div>
