<h1><%= @participant.name %> - Trip Summary</h1>

<p><strong>Trip:</strong> <%= @trip.name %></p>

<p><strong>Total Spent:</strong> $<%= '%.2f' % @total_spent %></p>
<p><strong>Total Owed To Others: </strong> $<%= '%.2f' % @total_owed %></p>

<% if @owes_to_each.any? %>
  <h2>Amounts Owed to Others:</h2>
  <ul>
    <% @owes_to_each.each do |name, amount| %>
      <li><%= @participant.name %> owes <%= name %>: $<%= '%.2f' % amount %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= @participant.name %> owes nothing to others.</p>
<% end %>

<br>

<%= link_to "Back to Trip", trip_path(@trip) %>