

<p style="color: green"><%= notice %></p>

<% content_for :title, "Expenses" %>

<h1>Expenses for <%= @participant.name %></h1>

<div>
<% if @participant.expenses.any? %>
  <ul>
    <% @participant.expenses.each do |expense| %>
      <li>
        <%= expense.description %> - $<%= '%.2f' % expense.amount %> (<%= expense.category_name.to_s.titleize.presence || 'Uncategorized' %>)
        <br>
        <%= link_to "View details", trip_participant_expense_path(@trip, @participant, expense) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No expenses recorded.</p>
<% end %>
</div>

<%= link_to "Add New Expense", new_trip_participant_expense_path(@trip, @participant), class: "btn btn-primary" %>
<%= link_to "Back to trip details", trip_path(@trip), class: "btn btn-primary" %>
