<p style="color: green"><%= notice %></p>

<% content_for :title, "Expenses" %>

<h1>Expenses for <%= @participant.name %></h1>

<% if @participant.expenses.any? %>
  <ul>
    <% @participant.expenses.each do |expense| %>
      <li>
        <%= expense.description %> - $<%= '%.2f' % expense.amount %> (<%= expense.category.titleize %>)
        <br>
        <%= link_to "View details", trip_participant_expense_path(@trip, @participant, expense) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No expenses recorded.</p>
<% end %>

<%= link_to "Add New Expense", new_trip_participant_expense_path(@trip, @participant) %> |
<%= link_to "Back to trip", trip_path(@trip) %>
